* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Marcellus SC', serif;
  }

  .lista_tareas{
    margin: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.tareas{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tarea{
    margin: 5vh 10vw;
    display: flex;
    align-items: center;
    gap: 10px;
}

  .lista_tareas input{
    padding: 10px;
  }

  .lista_tareas button{
    padding: 5px;
    background-color: #0e0e0e;
    color: #FFF;
    border: 2px solid grey;
  }

  .checked {
    text-decoration: line-through;
}

